.card {
  display: inline-block;
  margin: 0.5ex;
}

.card > .border {
  display: inline-block;
  border: thin solid #000;
}

.card > .border > .body {
  overflow: hidden;
  white-space: nowrap;
}

.card.sheep > .border > .body {
  display: inline-block;
  width: 5.6ex;
  height: 3.8ex;
  padding: 0.5ex;
  border-top: 2ex solid #cff;
  border-bottom: 2ex solid #3c3;
  background: #fff;
  text-align: center;
}

.card.sheep.rank1    > .border > .body {border-bottom-color: #ce0;}
.card.sheep.rank3    > .border > .body {border-bottom-color: #9e0;}
.card.sheep.rank10   > .border > .body {border-bottom-color: #6e0;}
.card.sheep.rank30   > .border > .body {border-bottom-color: #0d0;}
.card.sheep.rank100  > .border > .body {border-bottom-color: #0a0;}
.card.sheep.rank300  > .border > .body {border-bottom-color: #080;}
.card.sheep.rank1000 > .border > .body {border-bottom-color: #060;}

.card.event > .border > .body {
  display: inline-block;
  width: 5.1ex;
  padding: 0.5ex 0.5ex 0.5ex 0;
  background: #ec8;
  text-align: center;
  line-height: 7.8ex;
  border-left: 0.5ex solid #db7;
}

.stacked.cards > .card,
.lined.cards > .card {
  margin: 0;
  width: 0;
  overflow: visible;
}

.tightly.lined.cards > .card {margin-left: 0.25em;}
.loosely.lined.cards > .card {margin-left: 1.5em;}
.lined.cards > .card:first-child {margin-left: 0;}

.lined.cards > .card:nth-child( 1) {transform: rotate(-4deg);}
.lined.cards > .card:nth-child( 2) {transform: rotate( 0deg);}
.lined.cards > .card:nth-child( 3) {transform: rotate( 2deg);}
.lined.cards > .card:nth-child( 4) {transform: rotate(-3deg);}
.lined.cards > .card:nth-child( 5) {transform: rotate( 1deg);}
.lined.cards > .card:nth-child( 6) {transform: rotate( 4deg);}
.lined.cards > .card:nth-child( 7) {transform: rotate( 2deg);}
.lined.cards > .card:nth-child( 8) {transform: rotate( 1deg);}
.lined.cards > .card:nth-child( 9) {transform: rotate( 4deg);}
.lined.cards > .card:nth-child(10) {transform: rotate(-3deg);}
.lined.cards > .card:nth-child(11) {transform: rotate(-4deg);}
.lined.cards > .card:nth-child(12) {transform: rotate( 0deg);}
.lined.cards > .card:nth-child(13) {transform: rotate( 4deg);}
.lined.cards > .card:nth-child(14) {transform: rotate(-1deg);}
.lined.cards > .card:nth-child(15) {transform: rotate(-3deg);}
.lined.cards > .card:nth-child(16) {transform: rotate( 1deg);}
.lined.cards > .card:nth-child(17) {transform: rotate( 2deg);}
.lined.cards > .card:nth-child(18) {transform: rotate(-1deg);}
.lined.cards > .card:nth-child(19) {transform: rotate( 1deg);}
.lined.cards > .card:nth-child(20) {transform: rotate(-3deg);}
.lined.cards > .card:nth-child(21) {transform: rotate(-4deg);}
.lined.cards > .card:nth-child(22) {transform: rotate( 0deg);}

.stacked.cards > .card {position: relative;}
.stacked.cards > .card:nth-child( 1) {top: 0.00ex; left: 0.00ex;}
.stacked.cards > .card:nth-child( 2) {top: 0.25ex; left: 0.25ex;}
.stacked.cards > .card:nth-child( 3) {top: 0.50ex; left: 0.50ex;}
.stacked.cards > .card:nth-child( 4) {top: 0.75ex; left: 0.75ex;}
.stacked.cards > .card:nth-child( 5) {top: 1.00ex; left: 1.00ex;}
.stacked.cards > .card:nth-child( 6) {top: 1.25ex; left: 1.25ex;}
.stacked.cards > .card:nth-child( 7) {top: 1.50ex; left: 1.50ex;}
.stacked.cards > .card:nth-child( 8) {top: 1.75ex; left: 1.75ex;}
.stacked.cards > .card:nth-child( 9) {top: 2.00ex; left: 2.00ex;}
.stacked.cards > .card:nth-child(10) {top: 2.25ex; left: 2.25ex;}
.stacked.cards > .card:nth-child(11) {top: 2.50ex; left: 2.50ex;}
.stacked.cards > .card:nth-child(12) {top: 2.75ex; left: 2.75ex;}
.stacked.cards > .card:nth-child(13) {top: 3.00ex; left: 3.00ex;}
.stacked.cards > .card:nth-child(14) {top: 3.25ex; left: 3.25ex;}
.stacked.cards > .card:nth-child(15) {top: 3.50ex; left: 3.50ex;}
.stacked.cards > .card:nth-child(16) {top: 3.75ex; left: 3.75ex;}
.stacked.cards > .card:nth-child(17) {top: 4.00ex; left: 4.00ex;}
.stacked.cards > .card:nth-child(18) {top: 4.25ex; left: 4.25ex;}
.stacked.cards > .card:nth-child(19) {top: 4.50ex; left: 4.50ex;}
.stacked.cards > .card:nth-child(20) {top: 4.75ex; left: 4.75ex;}
.stacked.cards > .card:nth-child(21) {top: 5.00ex; left: 5.00ex;}
.stacked.cards > .card:nth-child(22) {top: 5.25ex; left: 5.25ex;}

#sheepStock > .stacked.cards {
  display: inline-block;
  width: 10ex;
  margin-bottom: 1em;
}
